.card-img-top {
    height: 30vw;
    object-fit: cover;
  }
  .indvCard {
    width: 33%;
    display: "flex";
    flex-direction: "row";
    flex-wrap: wrap;
  }
  .header {
    margin-left: 18px;
  }