.background {
    display: "flex";
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 90px;
  }
  .title {
    display: "flex";
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 90px;
  }